<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
    <link rel="stylesheet" href="../css/home.css" type="text/css" >
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/style2.css" type="text/css">
    <link rel="stylesheet" href="../css/compare.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<!--header-->
<div class="headera">
    <div class="containera">
        <%- include("header")%>
    </div>
</div>
<!--single product details-->
<div class="containerb single-product">
    <div class="row">
        <div class="col-2">
            <img src="<%= p.Img %>" width="100%" id="ProductImg">
        </div>
        <div class="col-2">
            <p>Home / T-Shirt</p>
            <h1>><%= p.TenSP %></h1>
            <h4><%= p.Gia %></h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input style="margin-left: 15px" onclick="var result = document.getElementById('quantity');
                var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' />
            <input id='quantity' min='1' name='quantity' type='text' value='1' />
            <input onclick="var result = document.getElementById('quantity');
                 var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' />
            <a href="" class="btn">Add To Cart</a>

            <p><b>Description</b></p>
            <p><%= p.MoTa %></p>
            <table border="0" class="more-details">
                <tr>
                    <th rowspan="6"><p>Product Details</p></th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <table border="0" class="more-details">
                <tr>
                    <th><p>Product Code :<span><%= p.MaSP %></span></p></th>
                    <td></td>
                </tr>
            </table>
            <table border="0" class="more-details">
                <tr>
                    <th rowspan="2"><p>Quantity available : <span><%= p.SoLuonTon %></span> </p></th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <table border="0" class="more-details">
                <tr>
                    <th><p>Look After Me :  <span><%= p.LuuY %> </span></p></th>
                    <td></td>
                </tr>
            </table>
            <table border="0" class="more-details">
                <tr>
                    <th rowspan="3"><p>Ingredient : <span> <%= p.Vatlieu %> </span></p></th>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--compare-->
<div class="small-container">
    <h2 class="titlepd">Compare Products</h2>
    <div class="compare">
        <div class="row">
            <div class="compare-product" id="1st">
                <img src="../images/product-1.jpg">
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="6"><p>Product Details:</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Product Code :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="2"><p>Quantity available :</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Look After Me :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="3"><p>Ingredient :</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="compare-product" id="2nd">
                <img src="../images/product-1.jpg">
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="6"><p>Product Details:</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Product Code :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="2"><p>Quantity available :</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th><p>Look After Me :</p></th>
                        <td></td>
                    </tr>
                </table>
                <table border="0" class="more-details">
                    <tr>
                        <th rowspan="3"><p>Ingredient :</p></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Featured product-->

<div class="small-container">
    <h2 class="titlepd">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="../images/product-1.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
        <div class="col-4">
            <img src="../images/product-2.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
        <div class="col-4">
            <img src="../images/product-3.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
        <div class="col-4">
            <img src="../images/product-4.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
    </div>
</div>
<!--comment-->
<div class="small-container">
    <div class="comment-box">
        <h2>Product Reviews</h2>
        <div class="comment">
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="comment-row">
                <div class="avatar">
                    <img src="../images/images_comment.jpg">
                </div>
                <div class="comment-date">
                    <p>1:45 AM 9/22/2021</p>
                </div>
            </div>
            <div class="comment-body">
                <p>The goods are always beautiful. Cheap price great quality</p>
            </div>
        </div>
        <div class="comment-reply">
            <div class="comment-row">
                <div class="avatar">
                    <img src="../images/images_comment.jpg">
                </div>
                <div class="comment-date">
                    <p>10:00 AM 9/23/2021</p>
                </div>
            </div>
            <div class="comment-body">
                <p>The goods are always beautiful. Cheap price great quality</p>
            </div>
        </div>
        <div class="comment-reply">
            <div class="comment-row">
                <div class="avatar">
                    <img src="../images/images_comment.jpg">
                </div>
                <div class="comment-date">
                    <p>10:00 AM 9/23/2021</p>
                </div>
            </div>
            <div class="comment-body">
                <p>The goods are always beautiful. Cheap price great quality</p>
            </div>
        </div>
        <div class="comment">
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <div class="comment-row">
                <div class="avatar">
                    <img src="../images/images_comment.jpg">
                </div>
                <div class="comment-date">
                    <p>9:15 AM 9/24/2021</p>
                </div>
            </div>
            <div class="comment-body">
                <p>The goods are always beautiful. Cheap price great quality</p>
            </div>
        </div>
        <div class="comment-reply">
            <div class="comment-row">
                <div class="avatar">
                    <img src="../images/images_comment.jpg">
                </div>
                <div class="comment-date">
                    <p>10:00 AM 9/23/2021</p>
                </div>
            </div>
            <div class="comment-body">
                <p>The goods are always beautiful. Cheap price great quality</p>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<%- include("footer")%>

<!--js for comment-->



<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script src="../js/click-buy.js"></script>
</body>
</html>
</body>
</html>