<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
    <link rel="stylesheet" href="../css/home.css" type="text/css" >
    <link rel="stylesheet" href="../css/footer.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/style2.css" type="text/css">
    <link rel="stylesheet" href="../css/comment.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<!--header-->
<div class="headera">
    <div class="containera">
        <%- include("header")%>
    </div>
</div>
<!--single product details-->
<div class="containerb single-product">
    <div class="row">
        <div class="col-2">
            <img src="<%= p.Img %>" width="100%" id="ProductImg">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="../images/gallery-1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="../images/gallery-2.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="../images/gallery-3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="../images/gallery-4.jpg" width="100%" class="small-img">
                </div>
            </div>
        </div>
        <div class="col-2">
            <p>Home / T-Shirt</p>
            <h1>><%= p.TenSP %></h1>
            <h4><%= p.Gia %></h4>
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>
            <input type="number" value="1" min="1">
            <a href="" class="btn">Add To Cart</a>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p><%= p.MoTa %></p>
        </div>
    </div>
</div>
<!--    tittle    -->
<div class="containerb">
    <h2 class="titlepd">Related Products</h2>
</div>

<!--more details-->
<div class="containerb">
    <table border="0" class="more-details">
        <tr>
            <th rowspan="6">PRODUCT DETAILS</th>
            <td>Turn up the texture</td>
        </tr>
        <tr>
            <td>Plain design</td>
        </tr>
        <tr>
            <td>V-neck </td>
        </tr>
        <tr>
            <td>Drop shoulders</td>
        </tr>
        <tr>
            <td>Oversized fit</td>
        </tr>
        <tr>
            <td>Relaxed and roomy</td>
        </tr>
    </table>
    <table border="0" class="more-details">
        <tr>
            <th>PRODUCT CODE</th>
            <td>1901301</td>
        </tr>
    </table>
</div>
<!--Rate-->
<section>
    <div class="containerb">
        <div class="content">
            <h4>(6) Readers Comments</h4>
            <div id="reader">
                <ol>
                    <li>
                        <div class="comment_box"> <a href="#"> <img src="../images/avatar.jpg" alt="avatar"> </a>
                            <div class="inside_comment">
                                <div class="comment-meta">
                                    <div class="commentsuser">Jone</div>
                                    <div class="comment_date">September 27, 2021 at 5:00 am</div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Great blog right here! Also your website quite a bit up fast! What web host are you the use of? Can I am getting your affiliate link for your host? I want my site loaded up as fast as yours lol.</p>
                            </div>
                            <div class="reply"> <a href="#">Reply</a> </div>
                        </div>
                        <ul class="children">
                            <li>
                                <!--Comment Box 2-->
                                <div class="comment_box"> <a href="#"> <img src="../images/avatar.jpg" alt="avatar"> </a>
                                    <div class="inside_comment">
                                        <div class="comment-meta">
                                            <div class="commentsuser">Jack</div>
                                            <div class="comment_date">September 27, 2021 at 5:15 am</div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>Great blog right here! Also your website quite a bit up fast! What web host are you the use of? Can I am getting your affiliate link for your host? I want my site loaded up as fast as yours lol.</p>
                                    </div>
                                    <div class="reply"> <a href="#">Reply</a> </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="children">
                            <li>
                                <!--Comment Box 2-->
                                <div class="comment_box"> <a href="#"> <img src="../images/avatar.jpg" alt="avatar"> </a>
                                    <div class="inside_comment">
                                        <div class="comment-meta">
                                            <div class="commentsuser">Rat</div>
                                            <div class="comment_date">September 27, 2021 at 6:00 am</div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>Great blog right here! Also your website quite a bit up fast! What web host are you the use of? Can I am getting your affiliate link for your host? I want my site loaded up as fast as yours lol.</p>
                                    </div>
                                    <div class="reply"> <a href="#">Reply</a> </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="comment_box"> <a href="#"> <img src="../images/avatar.jpg" alt="avatar"> </a>
                            <div class="inside_comment">
                                <div class="comment-meta">
                                    <div class="commentsuser">Clair</div>
                                    <div class="comment_date">September 27, 2021 at 6:35 am</div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Great blog right here! Also your website quite a bit up fast! What web host are you the use of? Can I am getting your affiliate link for your host? I want my site loaded up as fast as yours lol.</p>
                            </div>
                            <div class="reply"> <a href="#">Reply</a> </div>
                        </div>
                        <ul class="children">
                            <li>
                                <!--Comment Box 2-->
                                <div class="comment_box"> <a href="#"> <img src="../images/avatar.jpg" alt="avatar"> </a>
                                    <div class="inside_comment">
                                        <div class="comment-meta">
                                            <div class="commentsuser">Micheal</div>
                                            <div class="comment_date">September 27, 2021 at 6:55 am</div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <p>Great blog right here! Also your website quite a bit up fast! What web host are you the use of? Can I am getting your affiliate link for your host? I want my site loaded up as fast as yours lol.</p>
                                    </div>
                                    <div class="reply"> <a href="#">Reply</a> </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="comment_box"> <a href="#"> <img src="../images/avatar.jpg" alt="avatar"> </a>
                            <div class="inside_comment">
                                <div class="comment-meta">
                                    <div class="commentsuser">Jason</div>
                                    <div class="comment_date">September 27, 2021 at 7:00 am</div>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p>Great blog right here! Also your website quite a bit up fast! What web host are you the use of? Can I am getting your affiliate link for your host? I want my site loaded up as fast as yours lol.</p>
                            </div>
                            <div class="reply"> <a href="#">Reply</a> </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!--Featured product-->

<div class="small-container">
    <h2 class="titlepd">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="../images/product-1.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
        <div class="col-4">
            <img src="../images/product-2.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
        <div class="col-4">
            <img src="../images/product-3.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
        <div class="col-4">
            <img src="../images/product-4.jpg">
            <a href="http://localhost:4000/product-details"> <h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>50.000 $</p>
            <a href="javascript:void(0)" class="btnb btn-buy-now" role="button">Buy now </a>
        </div>
    </div>
</div>

<!--footer-->
<%- include("footer")%>
<!--js for product gallery-->
<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");
    SmallImg[0].onclick = function (){
        ProductImg.src = SmallImg[0].src;
    }
    SmallImg[1].onclick = function (){
        ProductImg.src = SmallImg[1].src;
    }
    SmallImg[2].onclick = function (){
        ProductImg.src = SmallImg[2].src;
    }
    SmallImg[3].onclick = function (){
        ProductImg.src = SmallImg[3].src;
    }
</script>

<!--js for comment-->



<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/header-rs.js"></script>
<script src="../js/header-scorll.js"></script>
<script src="../js/click-buy.js"></script>
</body>
</html>
</body>
</html>